# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'My-Python'
      'command': 'my-python:toggle'
    }
  ]
'menu': [
  {
    'label': 'My-Python'
    'submenu': [
        {
          'label': 'Toggle'
          'command': 'my-python:toggle'
        }
    ]
  }
]
